p, *:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
    max-width: 1000px;
}

a, span, video, ul, hr {
    margin: 0 auto !important;
    padding: 0 !important;
}

h1 {
    padding-bottom: 0 !important;
}
