* {
    max-width: 100%;
    overflow: auto;
}

p, #refs, *:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
    max-width: 1000px;
}

#refs {
    text-indent: 0;
}

a, span, video, ul, hr, em, #refs {
    margin: 0 auto !important;
    padding: 0 !important;
}

h1 {
    padding-bottom: 0 !important;
}

pre {
    overflow: auto;
}

/* Hide authors */
.author, .abstract-title {
    display: none;
}

/* Tables */
.table {
    display: block;
    margin: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

/* Dataset Table */
#datasets-table table {
    max-width: 100%;
}

#datasets-table img {
    width: 32px;
    height: 32px;
    margin: 0 4px;
}

/* Formats Table */
#formats-table {
    width: 850px;
    text-align: center;
}

#formats-table img {
    width: initial !important;
}

#formats-table img[src*=".gif"] {
    width: 200px;
    height: 150px;
}

#continuous-rep {
    display: block;
    margin: auto;
    max-width: 95vw;
    width: 1400px;
}

iframe {
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid #eee;;
    width: 100%;
    border-radius: 16px;
    height: 549px;
}