#container {
    max-width: 1800px;
    margin: 1em auto;
}

#navbar > nav {
    top: 75px;
    z-index: 1019;
}

nav > nav {
    padding-left: 1rem !important;
}

.nav {
    --bs-nav-link-padding-x: .1rem;
    --bs-nav-link-padding-y: 0.1rem;
}

/* Justify content */
p {
    text-align: justify;
}

#datasets-table, #formats-table {
    overflow: scroll;
}

#datasets-table img {
    width: 32px;
    height: 32px;
    margin: 0 4px;
}

#formats-table {
    width: min(100%, 850px);
    text-align: center;
}

#formats-table img {
    width: initial !important;
}

#formats-table img[src*=".gif"] {
    width: 200px;
    height: 150px;
}

#continuous-rep {
    display: block;
    max-width: 100%;
    width: 1400px;
    aspect-ratio: 167.93 / 60.05;
    margin: 0 auto 2em;
}

.tasks {
    width: 100%;
    max-width: 1000px;
    margin: 0.5em 0;
}

.tasks img {
    margin-top: 0.3em;
    max-width: 100%;
}

iframe {
    border: 1px solid #eee;
    width: 100%;
    border-radius: 16px;
    height: 500px;
    max-width: 900px;
    margin: auto;
    display: block;
}

/*thead {*/
/*    position: sticky;*/
/*    top: 64px;*/
/*    background: white;*/
/*}*/

.csl-entry {
    margin: 0.5em 0;
}

.nav-link {
    padding: 0.1em 0.2em;
}

#refs div[id] {
    padding-top: 66px;
    margin-top: -66px;
}

#refs a {
    word-wrap: break-word;
}